*{margin: 0px; padding: 0px; text-transform: uppercase;}
ul{list-style: none;}
a{text-decoration: none;}

header{
    height: 200px;
    background-color: black;
    color: white;
    padding-top: 12px;
    padding-left: 40px;
    padding-right: 40px;

}

header p#p1{
    font-size: 1.9em;
    text-align: left;
    font-weight: bolder;
}
header p#p2{
    text-align: center;
    font-size: 1.5em;
    margin-top: 30px;
}
header p#p3{
    font-size: 1.0em;
    text-align: center;
    margin-top: 17px;
}

nav p.p{
    color: aqua;
    font-size: 1.5em;
}

nav{
    margin-left: auto; margin-right: auto;
    width: 800px;
    margin-top: 60px;
    background-color: gold;
    
}

#circle{ 
        background-color: blue;
        widows: 15px;;
        width: 13px;
        height:13px;
        margin-top: 15px;
        border-radius: 70px;
       
}
nav div#p1{
    display: inline;
}

nav#btn1{
    width: 400px;
    height: 50px;
    background-color: white;
    border: 1px solid aqua;
    position: relative;
}


footer{
    background-color: black;
    text-align: center;
    
}

footer.fa{
    display: inline-block;
}
footer ul li{
    display: inline-block;
    
}
footer ul li a{
    letter-spacing: 0.1em;
    color: white;

}
footer div{
    color: gray;
    display: inline-block;
}


