*{padding: 0; margin: 0;}
ul{list-style: none;}
a{text-decoration: none;}

@font-face{
    font-family: "My Font";
    src:url("../font/paybooc\ ExtraBold.ttf");
    /* css은 다른 파일 경로는 url() 사용 */
}
@font-face{
    font-family: "Swagger";
    src:url("../font/Swagger.ttf");
    /* css은 다른 파일 경로는 url() 사용 */
  }

.smooth { 
    transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    background-color: rgba(255,255,255,0.86);
}
.socarLogo{
    transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    color: deepskyblue;
}

header{
}

#main{
    width: 100%; height: 300px;
    position: relative;
    overflow: hidden;
}
#main>.header{
    position: fixed; 
    top: 0;
    width: 100%; 
    height: 50px; 
    color: white; 
    line-height: 50px; 
    padding-left: 15px;
    z-index: 2;
}

header nav>a{
    color: white;
    padding-top: 5px;
    font-size: 32px;
    font-family: Swagger,serif;
}

#main>nav>h2{
    display: inline-block;
}
header img{
    width: 100%;
    height: 300px;
    position: absolute;
    /* top: -150px; */
    
    /* object-fit: cover;
    min-height: 100%; */
}

#black-bg{
    width: 100%; height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.3);
    z-index: 1;
}
#line-wrapper {
    cursor: pointer;
    width:30px;
    height:35px;
    position: absolute;
    right: 40px;
    top: 5px;
    z-index: 2;
  }

  #head-content h1{
    font-size: 30px;
    color: whitesmoke;
    /* align-self: center;
    justify-self: center; */
    text-align: center;
    /* margin:0px auto 60px auto; */
}
#head-content h2{
    font-size: 20px;
    color: whitesmoke;
    /* align-self: center;
    justify-self: center; */
    text-align: center;
    /* margin:0px auto 60px auto; */
}

    /* 네이게이션 메뉴 */

    #mySidenav>a{
        font-weight: bold;
    }

.openNav {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .closeNav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    /* background-color: #111;
    overflow-x: hidden;
    padding-top: 60px; */
    transition: 0.5s;
  }
  #mySidenav a {
    padding: 8px 8px 8px 32px;
    width: 250px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  #mySidenav a:hover{
      color: azure;
  }
  

  .sidenav a:hover {
    color: #f1f1f1;
  }

  
  
  .line {
    background:#ffffff;
    width:30px;
    height:3px; 
    margin-top:11px;
    margin-bottom:11px;
    border-radius:2px;
    box-shadow:0 1px 3px rgba(0,0,0,.5);
    position: relative;
  }

  .navmenu{
    transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    background: deepskyblue;
}

/* 애니메이션 시작 */

.init {
    animation:none !important;
  }
  
  
  .line-top {
    animation:line-top .4s forwards ease-out;
  }

  .top-reverse {
    animation: line-top-reverse .4s  forwards ease-out;
  }
  
  .line-mid {
    animation:line-mid .4s forwards ease-out;
  }

  .mid-reverse {
    animation: line-mid-reverse .4s  forwards ease-out;
  }


@keyframes line-top {
  0% {transform:translateY(7px) rotateZ(0deg)}
  100% {transform:translateY(7px) rotateZ(45deg)}
}

@keyframes line-top-reverse {
    0% {transform:translateY(7px) rotateZ(45deg)}
    100% {transform:translateY(0px) rotateZ(0deg)}
  }

@keyframes line-mid {
  0% {transform:translateY(-7px) rotateZ(0deg)}
  100% {transform:translateY(-7px) rotateZ(-45deg)}
}

@keyframes line-mid-reverse {
    0% {transform:translateY(-7px) rotateZ(-45deg)}
    100% {transform:translateY(0px) rotateZ(0deg)}
  }

section>article{
    margin-top: 70px;
    margin-bottom: 30px;
}

section{
    width: 780px;
    max-width: 100%;
    margin: 0 auto;
}



section h1{
    font-size: 25px;
    font-family: 'My Font',serif;
}

section h2{
    font-size: 17px;
    font-family: 'My Font',serif;
    margin-top: 10px;
    color: silver;
}

section p{
    clear: right;
    position: absolute;
    font-weight: bold;
    color: deepskyblue;
    width: 780px;
    bottom: 0px;
    border-bottom: 2px solid silver;
    padding-bottom: 8px;
    margin-top: 15px;
}

section article{
    height: 395px;
    position: relative;
}
section article div{
    width: 300px;
    display: inline-block;
}

section article:nth-child(1){
    height: 250px;
}

section article img{
    width: 470px;
    float: right;
}

/* footer 시작 */
footer{
    background-color: #374553;
    height: 350px;
    display: flex;
    align-items: center;
}

footer>div{
    width: 980px;
    max-width: 100%;
    margin: 0 auto;
    
}

footer ul:nth-child(1) li{
    display: inline-block;
    margin-bottom: 10px;
    
}


footer ul:nth-child(2) li{
    display: inline-block;
    margin-right: 15px;
    font-family: HYKANB,'Courier New', Courier, monospace;
    font-size: 18px;
    color: gainsboro;
    margin-bottom: 10px;
}

footer #div-left{
    display: inline-block;
    width: 45%;
}

footer #div-left>p{
    font-family: HYKANB,'Courier New', Courier, monospace;
    color: lightslategrey;
}

footer #div-right{
    display: inline-block;
    width: 45%;
}

footer #div-right>p{
    font-family: HYKANB,'Courier New', Courier, monospace;
    color: lightslategrey;
}
/* footer 끝 */
